@font-face   {
  font-family: "Essays 1743";
  src: local("Essays 1743"), url("Essays1743/Essays1743.ttf");
}

@font-face  {
  font-family: "Andika";
  src: local("Andika"), url("Fonts/AndBasR.ttf");
}

@font-face  {
  font-family: "Inconsolata";
  src: local("Inconsolata", url("Fonts/Inconsolata.ttf");
}

html, body  {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  font-family: "Andika", "Nimbus Sans L", Helvetica, Arial, sans;
}

#container  {
  width: 90%;
  margin: auto;
}

header  {
  display: block;
  margin: auto;
  text-align: center;
}

header h1  {
  font-size: 5em;
}

section.columns  {
  width: 100%;
  clear: both;
  display: block;
}

article header h2  {
  color: #acacac;
  display: inline-block;
}

article header img  {
  display: inline-block;
  float: right;
  height: 100px;
  border: 1px solid #acacac;
}

footer  {
  display: block;
  clear: both;
  width: 100%;
  border-top: 2px solid;
  border-top-color: #22b3fc;
  font-family: "Inconsolata";
}

a  {
  color: #008cf8;
  text-decoration: none;
}

a:hover  {
  text-decoration: underline;
}

img  {
  vertical-align: middle;
}

article.threecolumn  {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-top: 1.4em;
}

article.threecolumn:last-child  {
  margin-right: 0;
}

h1:hover .funky1  {
  color: #22b3fc;
}

h1:hover .funky2  {
  color: #f6ec3b;
}

h1:hover .funky3  {
  color: #fe74c5;
}

#blog header  {
  border-width: 0px;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: #22b3fc;
}

#twitter header  {
  border-width: 0px;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: #f6ec3b;
}

#bio header  {
  border-width: 0px;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: #fe74c5;
}

ul.tweet_list, ul.blog_list  {
  list-style: none;
  padding: 0px;
}

.tweet_avatar img  {
  float: left;
  height: 2.4em;
  width: 2.4em;
}

ul.tweet_list li, ul.blog_list li  {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

li.tweet_even, li.blog_even  {
  background-color: #eee;
}

ul.blog_list li small  {
  font-size: 0.7em;
  line-height: 0.7em;
}

#bio ul  {
  list-style: none;
  padding: 0;
}

#bio ul li img  {
  margin: 0.35em;
  border-width: 0px;
}

